* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

/* .container {
  max-width: 1280px;
  margin: auto;
} */

.button-linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(164, 188, 70, 1),
    rgba(132.8367919921875, 160.4375, 24.73410415649414, 1) 100%
  );
}
